/**
 * The main div for our app.
 */
#app {
  /* Use 100% of the screen. */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ccc;
  font-family: "Gill Sans", "Arial", sans-serif;
  font-size: 16px;
  color: #111;
  /* Hide the cursor - for touch screens */
  /*
  * Temporarily disabled.
  * FIXME: We should make this optional - with an env var to set it.
  *
  cursor: none;
  */
}

#root {
  margin: 10px;
}


/**
 * Disable text selection, except in textarea - if any.
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}
